<h2>Animal description</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @animal.age %>
</p>

<p>
  <strong>Specie:</strong>
  <%= @animal.specie %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @animal.breed %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @animal.obs %>
</p>

<hr>

<%= link_to 'Edit', edit_animal_path(@animal), class: "btn btn-secondary" %> |
<%= link_to 'Back', animals_path, class: "btn btn-secondary" %>
