<p id="notice"><%= notice %></p>

<h3>Listing Attendances</h3>

<table class="table">
  <thead class="text-center">
    <tr>
      <th>Dt</th>
      <th>Animal</th>
      <th>Vet</th>
      <th>Obs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="text-center">
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.dt %></td>
        <td><%= attendance.animal.name %></td>
        <td><%= attendance.vet.name %></td>
        <td><%= attendance.obs %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_attendance_path, class: "btn btn-primary" %>
