<h3>Attendance description</h3>

<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @attendance.dt %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @attendance.animal.name %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @attendance.vet.name %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @attendance.obs %>
</p>

<hr>

<%= link_to 'Edit', edit_attendance_path(@attendance), class: "btn btn-secondary" %> |
<%= link_to 'Back', attendances_path, class: "btn btn-secondary" %>
