<p id="notice"><%= notice %></p>

<p>
  <strong>Dt:</strong>
  <%= @attendance.dt %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @attendance.animal %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @attendance.vet %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @attendance.obs %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
