<!DOCTYPE html>
<html>
<head>
  <title>Bixano</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <a class="navbar-brand mb-0 h1" href="/">Bixano's</a>
    
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Animals", animals_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Vets", vets_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Donations", donations_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Admins", admins_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Attendance", attendances_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
